.uk-notify {
  left: auto;
  right: 50px;
   z-index: 1600;
}
/*------- Modal -------*/
@media (min-width: 720px){
   .modal-xl {
      max-width: 90%;
   }
}
/* ----- select 2 -----*/
.select2-selection {
   width: 100% !important;
}
/* ---- fin select 2 ----*/
@media screen and (min-width: 900px){
   .dataTables_wrapper .dataTables_length label{
      text-align: left !important;
      display: block;
   }
}
.dataTables_wrapper .dataTables_length {
   width: 100%;
}
.dataTables_wrapper .dt-buttons{
   display: inline-flex;
}
/* activi */
.sidebar-subnav > li.active2 > a, .sidebar-subnav > li.active2 > .nav-item {
    color: #045a88;
}
.select2{
   width: 100% !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] { -moz-appearance:textfield; }

-moz-appearance:textfield;al input number, input[type=number] { -moz-appearance:textfield; }


.red{
	color: #f05050;
}
.orange{
	color: #ff902b;
}
.green{
	color: #27c24c;
}
.info{
	color: #23b7e5;
}

.fondo {
	background-color: #23b7e5 !important;
	color: white !important;
}

.activo{
	border: 1px solid red;
}

td.highlight {
    background-color: #23b7e5 !important;
}
.cargarOn{
	position: absolute;
	z-index: 2;
	background-color: #ddddff;
}

.cargarOnTabla{
	z-index: 1;
}

.redondearTabla{
	border-radius: 15px !important;
	border : 1px solid #000000;
	font-family : Arial, Verdana, Helvetica, sans-serif;
	font-size : 12px;
	padding-left : 5px;
	padding-right : 5px;
}

.titulo_area{
 	color:#6357ad;
}

.btn{
   	-webkit-box-shadow: 3px 3px 10px 0px rgba(163,161,163,1);
-moz-box-shadow: 3px 3px 10px 0px rgba(163,161,163,1);
box-shadow: 3px 3px 10px 0px rgba(163,161,163,1);
}


.titulo_area{
 	color:#1797be;
}
.titulo_area2{
 	color:#ffab5e;
}
.titulo_area3{
 	color:#f47f7f;
}
.titulo_area4{
 	color:#58ceb1;
}
.titulo_area5{
 	color:#9289ca;
}


/* not active */
.nav-pills .pill-1 .nav-link:not(.active) {
    background-color: #51c6ea;
}

.nav-pills .pill-2 .nav-link:not(.active) {
    background-color: #ffab5e;
}

.nav-pills .pill-3 .nav-link:not(.active) {
    background-color: #f47f7f;
    color: white;
}
.nav-pills .pill-4 .nav-link:not(.active) {
    background-color: #58ceb1;
    color: white;
}
.nav-pills .pill-5 .nav-link:not(.active) {
    background-color: #9289ca;
    color: white;
}


/* active (faded) */
.nav-pills .pill-1 .nav-link {
    background-color: #1797be;
    color: white;
}

.nav-pills .pill-2 .nav-link {
    background-color: #f77600;
	color: white;
}

.nav-pills .pill-3 .nav-link {
    background-color: #ec2121;
    color: white;
}
.nav-pills .pill-4 .nav-link {
    background-color: #2b957a;
    color: white;
}
.nav-pills .pill-5 .nav-link {
    background-color: #564aa3;
    color: white;
}

.texto-x12 {
	font-size: 12px;
}
.texto-x10 {
	font-size: 10px;
}

.caja{
    background-color: #3e3e8e29 !important;
    border: 1px solid  #0000ff54 !important;
}

input.caja:focus{
    background-color: #3e408e85 !important;
    color: white !important;
    border: 1px solid  #11adade8 !important;
}

.correcto{
     border: 2px solid  green !important;
}
.incorrecto{
     border: 2px solid  red !important;
}
.padre{
 position: relative;
}

.ImagenPie{
    align-content: center;
    text-align: center;
    background-image: url("../image/imagenPie.png");
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vh;
    z-index: 1;
}

.OpcionPie1{
    height: 20px;
    width: 20px;

    margin-left: 55px;
    margin-top: 128px;
    z-index: 2;
    position: absolute;
}
.OpcionPie2{
    height: 20px;
    width: 20px;

    margin-left: 65px;
    margin-top: 162px;
    z-index: 2;
    position: absolute;
}
.OpcionPie3{
    height: 20px;
    width: 20px;

    margin-left: 35px;
    margin-top: 154px;
    z-index: 2;
    position: absolute;
}
.OpcionPie4{
    height: 20px;
    width: 20px;

    margin-left: 18px;
    margin-top: 180px;
    z-index: 2;
    position: absolute;
}
.OpcionPie5{
    height: 20px;
    width: 20px;

    margin-left: 305px;
    margin-top: 130px;
    z-index: 2;
    position: absolute;
}
.OpcionPie6{
    height: 20px;
    width: 20px;

    margin-left: 343px;
    margin-top: 190px;
    z-index: 2;
    position: absolute;
}

.OpcionPie7{
    height: 20px;
    width: 20px;

    margin-left: 320px;
    margin-top: 164px;
    z-index: 2;
    position: absolute;
}
.OpcionPie8{
    height: 20px;
    width: 20px;

    margin-left: 290px;
    margin-top: 175px;
    z-index: 2;
    position: absolute;
}

.Option{
     width: 20px;
     height: 20px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #aec1ae;
     border: 2px solid #634848;
}
.OptionX{
     width: 20px;
     height: 20px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #aec1ae;
     border: 2px solid #634848;

     vertical-align: middle;
     line-height: inherit;

     font-weight: bold;
     text-align: center;
     color: #634848;
     font-size: 12px;

}
.OptionFull{
     width: 20px;
     height: 20px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #634848;
     border: 2px solid #634848;
}



